.popup-container {
    position: relative;
    display: inline-block;
}

.popup-content {
    display: none;
}

.color {
    border-radius: 50%;
}

tr {
    text-align: center;
    align-items: center;
}

table th {
	background-color: #eeeeee; 
	text-align: center; 
}

img:hover {
    cursor: pointer;
}
